In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [3]:
df = pd.read_csv('Data/pre_processed_data.csv', delimiter= ',')
df

,Marital status,Application mode,Application order,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Course_9130,Course_9147,Course_9238,Course_9254,Course_9500,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991
0,1,17,5,1,1,122.0,1,19,12,5,...,0,0,0,0,0,0,0,0,0,0
1,1,15,1,1,1,160.0,1,1,3,3,...,0,0,0,1,0,0,0,0,0,0
2,1,1,5,1,1,122.0,1,37,37,9,...,0,0,0,0,0,0,0,0,0,0
3,1,17,2,1,1,122.0,1,38,37,5,...,0,0,0,0,0,0,0,1,0,0
4,2,39,1,0,1,100.0,1,37,38,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,1,1,125.0,1,1,1,5,...,0,0,0,0,0,0,0,1,0,0
4420,1,1,2,1,1,120.0,105,1,1,9,...,0,0,0,0,0,0,0,1,0,0
4421,1,1,1,1,1,154.0,1,37,37,9,...,0,0,0,0,1,0,0,0,0,0
4422,1,1,1,1,1,180.0,1,37,37,7,...,0,1,0,0,0,0,0,0,0,0
4423,1,10,1,1,1,152.0,22,38,37,5,...,0,0,0,0,0,0,0,1,0,0

Logistic regression

In [4]:
df1= df.copy()

In [5]:
def convert_log(Target : str) -> int:
    if Target == 'Graduate':
        return 1
    return 0

In [6]:

df1['Target'] = df1['Target'].apply(convert_log)
X1 = df1.drop(columns ='Target')
Y1 = df1['Target']

X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1,Y1, train_size = 0.8, random_state= 24)

In [7]:
scaler = StandardScaler()
X1_train = scaler.fit_transform(X1_train)
X1_test = scaler.transform(X1_test)

In [9]:
log_reg = LogisticRegression()
log_reg.fit(X1_train,Y1_train)
log_predicted = log_reg.predict(X1_test)
acc = metrics.accuracy_score(Y1_test, log_predicted)

print('Accuracy of logistic: ', acc)

Accuracy of logistic:  0.8542372881355932

Softmax regression

In [10]:
df2 = df.copy()

In [11]:
df2['Target']= df2['Target'].map({
    'Graduate' : 1,
    'Dropout' : 0,
    'Enrolled' : 2
})

In [12]:
X2 = df1.drop(columns ='Target')
Y2 = df1['Target']

X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2,Y2, test_size= 0.2, random_state= 24)

In [13]:

X2_train = scaler.fit_transform(X2_train)
X2_test = scaler.transform(X2_test)

In [14]:
sof_reg = LogisticRegression(multi_class='multinomial')
sof_reg.fit(X2_train,Y2_train)
sof_pred = log_reg.predict(X2_test)
acc = metrics.accuracy_score(Y2_test, sof_pred)

print('Accuracy of softmax: ', acc)

Accuracy of softmax:  0.8542372881355932

d:\code\visual studio code\DS102\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:1237: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, binary problems will be fit as proper binary  logistic regression models (as if multi_class='ovr' were set). Leave it to its default value to avoid this warning.
  warnings.warn(